<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a09464">  <td>18/02/02 16:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Basetest.openapplication()[pri:0, instance:test.Sirinadu@56f4468b]">&gt;&gt;openapplication</td> 
<td>&nbsp;</td>  <td>main@684874119</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>18/02/02 16:44:45</td>   <td>26044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sirinadu.testLogin()[pri:1, instance:test.Sirinadu@56f4468b]">testLogin</td> 
  <td>main@684874119</td>   <td></td> </tr>
</table>
