<h2>Reporter output</h2><table><tr><td>Scenario : Elements present in Login page are: </td></tr>
<tr><td>Email</td></tr>
<tr><td>Password</td></tr>
<tr><td>Login</td></tr>
<tr><td>Forgot Password?</td></tr>
<tr><td>
Scenario : Enter invalid Username and invalid Password</td></tr>
<tr><td>Email: Invalid</td></tr>
<tr><td>Password: Invalid</td></tr>
<tr><td>Logged in Successfully</td></tr>
<tr><td>
Scenario : Enter invalid Username and valid Password</td></tr>
<tr><td>Password: Novaders@321</td></tr>
<tr><td>Logged in Successfully</td></tr>
<tr><td>
Scenario : Enter valid Username and invalid Password</td></tr>
<tr><td>Password: Invalid</td></tr>
<tr><td>Logged in Successfully</td></tr>
<tr><td>
Scenario : Leave Username and Password blank and click Login button</td></tr>
<tr><td>Password: </td></tr>
<tr><td>Logged in Successfully</td></tr>
<tr><td>
Scenario : Enter valid Username and invalid Password</td></tr>
<tr><td>Password: Novaders@321</td></tr>
<tr><td>Logged in Successfully</td></tr>
</table>